var filter = {
  fixDate: function (date) {
    var date = getDate(date)
    var year = date.getFullYear()
    var month = date.getMonth() + 1
    var strDate = date.getDate()
    if (month >= 1 && month <= 9) {
        month = "0" + month;
    }
    if (strDate >= 0 && strDate <= 9) {
        strDate = "0" + strDate;
    }
    var currentdate = year + "-" + month + "-" + strDate;
    return currentdate
  },
  fixTime: function (time) {
    var date = getDate(time)
    var hours = date.getUTCHours()
    var minutes = date.getMinutes()	
    console.log(time);
    if (hours >= 1 && hours <= 9) {
      hours = "0" + hours;
      }
      if (minutes >= 0 && minutes <= 9) {
        minutes = "0" + minutes;
      }
    var currentTime = hours + ":" + minutes 
    return currentTime
  }
}
module.exports = {
  fixDate: filter.fixDate,
  fixTime: filter.fixTime
}